{
  "botToken": "enter your user token here for the bot to login to",
  "prefix": "//",
  "migrateTagsDB": false,
  "blacklistedServers": [
    "226865538247294976",
    "239010380385484801",
    "Other servers that don't allow selfbots",
    "you can put them here and the bot won't",
    "do anything on them, they'll be ignored"
  ]
}